.btn {
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 3px;
    background-color: #ffffff;
    width: 200px;
    margin-right: 24px;
    border: none;
    height: 40px;
}

.btn:hover {
    cursor: pointer;
    background-color: #FFA07A;
}

