.btn {
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #ffffff;
    margin-right: 24px;
    border: none;
    height: 40px;
}

.btn:hover {
    cursor: pointer;
    background-color: #FFA07A;
}

