.settings {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: calc(50% - 500px);
}

.row-settings {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    align-items: start;
}

.settings-left {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.settings-right .button-container {
    margin-bottom: 30px;
}

body.day-theme header {
    border-bottom: 1px solid #ccc;
}

body.day-theme footer {
    border-top: 1px solid #ccc !important
}

body.day-theme .search-input {
    box-shadow: 0 0 5px #FFA07A;
}

body.day-theme .chart-number {
    color: #090f1b;
}

body.day-theme .btn-settings {
    box-shadow: 0 0 5px #FFA07A;
    width: 200px;
}

body.day-theme,
body.day-theme header,
body.day-theme footer,
body.day-theme .search-input {
    background-color: #ffffff;
    color: #090f1b;
}

body.night-theme,
body.night-theme header,
body.night-theme footer,
body.night-theme .search-input {
    background-color: #090f1b;
    color: #ffffff;
}

body.day-theme .btn {
    box-shadow: 0 0 5px #FFA07A;
}