.search-input {
    width: 300px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #ffffff;
    margin-bottom: 3px;
    font-size: 16px;
    color: #ffffff;
    background-color: #090f1b;
}

.search-input:focus {
    outline: none;
}